//! **************************************************************************
// Written by: Map O.87xd on Mon May 28 21:21:08 2012
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP clk = BEL "CE" BEL "OE" BEL "ordy" BEL "WE" BEL "idata_0" BEL
        "idata_1" BEL "idata_2" BEL "idata_3" BEL "idata_4" BEL "idata_5" BEL
        "idata_6" BEL "idata_7" BEL "DQ_0" BEL "DQ_1" BEL "DQ_2" BEL "DQ_3"
        BEL "DQ_4" BEL "DQ_5" BEL "DQ_6" BEL "DQ_7" BEL
        "current_state_FSM_FFd1" BEL "clk_BUFGP/BUFG.GCLKMUX" BEL
        "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 0.001 MHz HIGH 50%;
SCHEMATIC END;

